<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InsuranceFlow</title>
  <link rel="stylesheet" href="/stylesheets/new.css">
</head>
<body>
  <nav class="navbar">
    <a href="/"><h2>InsuranceFlow</h2></a>
    <div class="nav-right-side">
      <img class="profile-image" src=<%=!user.image_url ? user.image_url : 'https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg'%> alt="Imagem do perfil">
      <form action="/sign_out" target="_self" method="post"> 
        <button class="logout-button" type="submit">
          <img class="logout-icon" src="/images/logout.svg">
        </button>
      </form>
    </div>
  </nav>
  <main>
    <form class="new-policy-form" action="/create_policy" method="post">
      <header>
        <h1>Nova apólice</h1>
      </header>
      <label for="end-date">Data do fim da cobertura:</label>
      <input class="input" id="end-date" name="end-date" type='date' placeholder=""/>
      <label for="prize-value">Valor do prêmio:</label>
      <input class="input-2" id="prize-value" name="prize-value" type='number' placeholder=""/>
      <h2 class="section-header">Cliente</h2>
      <label for="full-name">Nome Completo:</label>
      <input class="input-2" id="full-name" name="full-name" placeholder=""/>
      <label for="cpf">CPF:</label>
      <input class="input-2" id="cpf" name="cpf" placeholder=""/>
      <label for="email">Email:</label>
      <input class="input-2" id="email" name="email" placeholder=""/>
      <h2 class="section-header">Veículo</h2>
      <label for="car-brand">Marca:</label>
      <input class="input-2" id="car-brand" name="car-brand" placeholder=""/>
      <label for="car-model">Modelo:</label>
      <input class="input-2" id="car-model" name="car-model" placeholder=""/>
      <label for="car-year">Ano:</label>
      <input class="input-2" id="car-year" name="car-year" placeholder=""/>
      <label for="car-plate">Placa:</label>
      <input class="input-2" id="car-plate" name="car-plate" placeholder=""/>
     
      <button class="submit-button" type="submit">Criar</button>
    </form>
  </main>
</body>